@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap");
p {
  color: black;
  font-size: 2em;
  line-height: 2.2em;
}

h1 {
  font-size: 3em;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
  padding: 40px;
  text-align: center;
  margin: 100px;
  border: 20px outset grey;
}

h2 {
  color: black;
  padding: 40px;
  text-align: center;
  margin: 60px 40px 60px 40px;
}

h3 {
  color: violet;
  padding: 40px;
  text-align: center;
  margin: 30px 15px 30px 15px;
  margin-left: 50px;
}

p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 5px;
  word-spacing: 7px;
  border: 20px;
  margin-bottom: 20px;
  margin: 20px;
  border-radius: 20px;
  color: black;
  background-color: darkgray;
  align-content: center;
  justify-content: center;
}

.segundo.parrafo {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 35px;
  letter-spacing: 10px;
}

#color {
  color: darkblue;
}

a {
  text-decoration: none;
  color: ghostwhite;
  text-decoration: none;
  color: black;
}

section {
  background-color: whitesmoke;
}

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: darkgrey;
  font-weight: bolder;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: darkgrey;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgba(76, 0, 130, 0.691);
  padding: 30px;
  font-size: large;
  display: grid;
  color: blueviolet;
  grid-area: header;
}

img {
  margin-top: 100px;
  margin-left: 40px;
  border: none;
}

footer {
  padding: 80px;
  margin-top: 200px;
  background-color: darkmagenta;
  margin-bottom: 0;
  padding: 3em;
  background-color: blueviolet;
  margin-bottom: 0;
  margin-top: 1.5em;
  grid-area: footer;
}

.header img {
  position: relative;
  bottom: 120px;
  float: left;
  width: 100px;
  height: 100px;
  border: none;
  position: relative;
  bottom: 120px;
  float: left;
  width: 100px;
  height: 100px;
  border: none;
}

.personaje {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.personaje img {
  position: relative;
  bottom: 120px;
  float: center;
  width: 400px;
  height: 500px;
  margin-top: 300px;
  margin-left: 400px;
  border-radius: 30px;
  position: relative;
  display: block;
  margin: auto;
  border: 100px;
  flex-direction: row flex;
  max-width: 400px;
  padding: 1rem;
}
.personaje p {
  position: relative;
  bottom: 120px;
  margin-left: 150px;
  margin-right: 100px;
  float: center;
  text-align: center;
}

.opiniones {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.opiniones img {
  position: relative;
  bottom: 120px;
  float: center;
  width: 500px;
  height: 500px;
  margin-top: 200px;
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 30px;
  max-width: 400px;
  padding: 1rem;
}
.opiniones h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  position: relative;
  bottom: 120px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 100px;
  float: center;
  text-align: center;
}
.opiniones p {
  position: relative;
  bottom: 120px;
  margin-left: 150px;
  margin-right: 100px;
  float: center;
  text-align: center;
}

.novedades {
  grid-area: novedades;
}
.novedades img {
  position: relative;
  bottom: 120px;
  float: center;
  width: 800px;
  height: 500px;
  margin-top: 100px;
  margin-right: 400px;
  margin-left: 250px;
  border-style: groove;
  border-color: blueviolet;
}
.novedades h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  position: relative;
  bottom: 120px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 100px;
  float: center;
  text-align: center;
}

main {
  grid-area: main;
}

nav ul {
  border: 2px solid purple;
}

.novedades img {
  position: relative;
  bottom: 120px;
  float: center;
  width: 800px;
  height: 500px;
  margin-top: 100px;
  margin-right: 400px;
  margin-left: 250px;
  border-style: groove;
  border-color: blueviolet;
}

.container {
  height: 100vh;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.flex {
  width: 120px;
  height: 120px;
  background-color: skyblue;
  border: 2px solid black;
}

.estructura {
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.estructura ul {
  list-style: none;
}
.estructura ul li {
  margin-right: 10px;
}
.estructura ul li a {
  color: violet;
  font-size: 1em;
  text-decoration: none;
}
.estructura ul li a:hover {
  color: black;
}/*# sourceMappingURL=main.css.map */